section.formcontato{
    padding: 5%;
    margin: 2%;
}

section.formcontato div.formcontato__contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

section.formcontato div.formcontato__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    margin-bottom: 5%;
}

section.formcontato h2.formcontato__title{
    font: normal 700 32px 'Raleway', sans-serif;
    line-height: 38px;
    color: var(--colorTituloText);
    align-items: center;
    margin-bottom: 3%;
}

section.formcontato h3.formcontato__subtext{
    font: normal 500 16px 'Raleway', sans-serif;
    line-height: 19px;
    color: var(--colorTituloText);
}

section.formcontato form.formcontato__form{
    width: 100%;
}

section.formcontato div.formcontato__form_total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 5%;
}

section.formcontato input.formcontato__input{
    display: flex;
    background-color: var(--colorBox);
    flex-direction: column;
    align-items: flex-start;
    font: normal 400 20px 'Raleway', sans-serif;
    width: 99%;
    height: 56px;
    gap: 10px;
    margin-bottom: 2%;
    padding:1px 20px;
    border: 1px solid var(--colorBox);
    border-bottom: .1em solid var(--colorTextos);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.input-correcto{
  color:  var(--ColorAprobado);

}
.input-incorrecto{
   color: var(--ColorError);
   
}


section.formcontato textarea.formcontato__textarea{
    display: flex;
    background-color: var(--colorBox);
    flex-direction: column;
    align-items: flex-start;
    font: normal 400 20px 'Raleway', sans-serif;
    width: 99%;
    height: 133px;
    gap: 10px;
    padding:10px 20px;
    border: 1px solid var(--colorBox);
    border-bottom: .2em solid var(--colorTextos);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 1.5em;
    resize: none;
}

section.formcontato button.formcontato__botao{
   width: 150px;
   height: 50px;
   border-radius: 7px;
   border-color: var(--colorTextos);
   background-color: var(--colorTextos);
   color: black;
   font-weight: bold;
   font-size: 16px;
}



section.formcontato textarea.formcontato__textarea::placeholder{
    font: normal 400 16px 'Raleway', sans-serif;
}

section.formcontato input.formcontato__input::placeholder{
    font: normal 400 16px 'Raleway', sans-serif;
}

.formcontato__information{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 200px 400px;
    grid-template-rows: 1fr;
    align-items: center;
}

section.formcontato label.error_label{
    font: normal 700 16px 'Raleway', sans-serif;
    color: var(--ColorError);
}


/* ----------------- Inicio del Responsive ----------------------*/

@media only screen and (min-width: 1024px) {
     /* 1024px * 768 Probado http://responsivetesttool.com/*/
    section.formcontato div.formcontato__contacto{
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    /* 768px * 1024px Probado http://responsivetesttool.com/*/
     section.formcontato div.formcontato__contacto{
        justify-content: center;
    }}
/*
/*------------------ @media  max-width: 360px  -------------------*/

    @media only screen and (max-width: 360px) {

    section.formcontato div.formcontato__text{
        align-items: center;
        margin-left: 0%;
        margin-bottom: 5%;
        line-height: 26px;
    }

     section.formcontato h2.formcontato__title{
        font: normal 700 22px 'Raleway', sans-serif;
        line-height: 26px;
        margin-bottom: 5%;
        padding: 1%;
    }

    section.formcontato h3.formcontato__subtext{
        font: normal 500 14px 'Raleway', sans-serif;
        align-items: center;
        justify-self: center;
        content: center;
        line-height: 19px;
        margin-bottom: 5%;
    }
    section.formcontato h3.formcontato__subtext:nth-child(3){
        align-items: center;
        justify-self: center;
        line-height: 19px;
        text-align: center;
    }

    section.formcontato input.formcontato__input{
        font: normal 400 14px 'Raleway', sans-serif;
    }

    section.formcontato textarea.formcontato__textarea{
        font: normal 400 14px 'Raleway', sans-serif;
    }

    section.formcontato input.formcontato__input::placeholder{
        font: normal 400 12px 'Raleway', sans-serif;
    }
    section.formcontato textarea.formcontato__textarea::placeholder{
        font: normal 400 12px 'Raleway', sans-serif;
    }

    section.formcontato button.formcontato__botao{
        width: 94%;
        height: 45px;
        }

    .formcontato__information{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-row-gap: 8px;
        align-items: center;
        justify-items: center
    }
    
    
        section.formcontato label.error_label{
        font: normal 500 10px 'Raleway', sans-serif;
        color: var(--ColorError);
    }


}
/*------------------- Fin del Responsive -----------------------*/
/*--------------------------------------------------------------*/
