/* Menu - Nav */

section.menu nav ul.menu__list li a:hover {
        color: var(--colorTextos); /* #8dc9e6 */
        text-decoration: underline;
    }

section.menu nav ul.menu__list li a.active {
        color: var(--colorTextos); /* #8dc9e6 */
        text-decoration: underline;
    }

section.menu nav ul.menu__list li a.active:hover {
        color: var(--colorTextos); /* #8dc9e6 */
        text-decoration: underline;
    }

/* Skill and Hobbies Box */

section.skills div.skills__box{
    border-color: var(--colorTextos);
    border-radius: 20px;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    -ms-border-radius: 20;
    -o-border-radius: 20;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0px 10px 20px -11px var(--colorTextos);
         box-shadow: 0px 10px 20px -11px var(--colorTextos);
    
}



section.skills div.skills__box:hover{
    -webkit-box-shadow: 0px 10px 20px -11px var(--ColorBotonEncendido);
         box-shadow: 0px 10px 20px -11px var(--ColorBotonEncendido);
}

section.hobbies div.hobbies__box{
     border-color: var(--colorTextos);
     border-radius: 20px;
     -webkit-border-radius: 20;
     -moz-border-radius: 20;
     -ms-border-radius: 20;
     -o-border-radius: 20;
     -webkit-transition: 0.4s;
     transition: 0.4s;
     -webkit-box-shadow: 0px 10px 20px -11px var(--colorTextos);
           box-shadow: 0px 10px 20px -11px var(--colorTextos);
}

section.hobbies div.hobbies__box:hover{
    -webkit-box-shadow: 0px 10px 20px -11px var(--ColorBotonEncendido);
         box-shadow: 0px 10px 20px -11px var(--ColorBotonEncendido);
}

/* Formacion Academica*/

section.academic li.academic__courses__item__img{
    border-color: var(--ColorBotonEncendido);
    border-radius: 20px;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    -ms-border-radius: 20;
    -o-border-radius: 20;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0px 10px 20px -11px var(--ColorBotonEncendido);
         box-shadow: 0px 14px 20px -11px var(--ColorBotonEncendido);
}

section.academic li.academic__courses__item__img:hover{
    -webkit-box-shadow: 0px 10px 20px -11px var(--ColorBotonEncendido);
         box-shadow: 0px 10px 20px -11px var(--ColorBotonEncendido);
}


/* Experiencia Profesional Imagenes Efectos*/ 

section.experience  img.imagenRod{
    border-color: var(--ColorBotonEncendido);
    border-radius: 20px;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    -ms-border-radius: 20;
    -o-border-radius: 20;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0px 14px 56px -11px var(--ColorBotonEncendido);
         box-shadow: 0px 14px 50px -11px var(--ColorBotonEncendido);
}


section.experience  img.imagenRod:hover{
    -webkit-box-shadow: 0px 14px 56px -11px var(--ColorBotonEncendido);
         box-shadow: 0px 14px 65px -11px var(--ColorBotonEncendido);
}

/* Experiencia Profesional Botones */

section.experience button.experiencia__botao--repo:hover{
    background-color: var(--ColorBotonEncendido);
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0px 14px 56px -11px var(--ColorBotonEncendido);
         box-shadow: 0px 14px 56px -11px var(--ColorBotonEncendido);
    color: #ffffff;
}

section.experience button.experience__botao--demo:hover{
   background-color: var(--ColorBotonEncendido);
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0px 14px 56px -11px var(--ColorBotonEncendido);
         box-shadow: 0px 14px 56px -11px var(--ColorBotonEncendido);
    color: #ffffff;
}


/* Contactos input */

section.formcontato img.formcontato__img{
    border-color: var(--ColorBotonEncendido);
    border-radius: 20px;
    height: 96%;
    width: 98%;
    padding: 40px 20px 20px 20px;
    -moz-border-radius: 20;
    -ms-border-radius: 20;
    -o-border-radius: 20;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0px 14px 20px -11px var(--ColorBotonEncendido);
    box-shadow: 0px 14px 20px -11px var(--ColorBotonEncendido);
    -webkit-filter: drop-shadow(10px 10px 5px var(--ColorBotonEncendido));
}

section.formcontato img.formcontato__img:hover{
     filter: drop-shadow(10px 10px 2px var(--ColorBotonEncendido));
     -webkit-box-shadow: 10px 10px 20px -11px var(--ColorBotonEncendido);
     box-shadow: 0px 10px 20px -11px var(--ColorBotonEncendido);
     -webkit-filter: drop-shadow(10px 10px 2px var(--ColorBotonEncendido));
}

section.formcontato input.formcontato__input:hover{
     border-color: var(--ColorBotonEncendido);
     border-bottom: 1px solid var(--ColorBotonEncendido);
     -webkit-box-shadow: 0px 14px 56px -11px var(--ColorBotonEncendido);
           box-shadow: 0px 14px 56px -11px var(--ColorBotonEncendido);
}

section.formcontato textarea.formcontato__textarea:hover{
     border-color: var(--ColorBotonEncendido);
     border-bottom: 1px solid var(--ColorBotonEncendido);
     -webkit-box-shadow: 0px 14px 56px -11px var(--ColorBotonEncendido);
           box-shadow: 0px 14px 56px -11px var(--ColorBotonEncendido);
}

section.formcontato button.formcontato__botao:hover{
background-color: var(--ColorBotonEncendido);
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0px 14px 56px -11px var(--ColorBotonEncendido);
         box-shadow: 0px 14px 56px -11px var(--ColorBotonEncendido);
    color: #ffffff;
}