section.footer {
    padding: 2%;
    margin: 2%;
    background-color: var(--colorFondoSecundario);
}

section.footer div.footer__rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.footer p{
    font: normal 700 18px 'Raleway', sans-serif;
    line-height: 19px;
    color: var(--colorTituloText);
}

section.footer p:nth-child(2){
    margin-left: 5%;
    color: black;
}

/*------------------ @media  min-width: 360px  ------------------*/
@media only screen and (max-width: 360px) {
    section.footer p{
        font: normal 500 14px 'Raleway', sans-serif;
    }
    section.footer p:nth-child(2){
        font: normal 700 14px 'Raleway', sans-serif;
        margin-left: 4%;
    }
}
/*------------------- Fin del Responsive -----------------------*/
/*--------------------------------------------------------------*/